@charset "UTF-8";
body, h1, h2, h3, h4, h5, h6, ol, ul, dl, dd, p, input, select, textarea, td {
  margin: 0;
  padding: 0; }

html {
  font-size: 26.67vw; }

body {
  font-family: "微软雅黑";
  /*position: relative;*/ }

a {
  text-decoration: none; }

ul,
ol {
  list-style: none; }

img {
  border: 0;
  display: block; }

html,
body {
  height: 100%; }

i {
  font-style: normal; }

header {
  display: flex;
  width: 100%;
  padding: .12rem .12rem;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #E4E4E4;
  background: #fafafa; }
  header img {
    width: .17rem;
    height: .17rem; }
  header span {
    font-size: .16rem; }

.nav {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: .02rem;
  border-bottom: 1px solid #f0f0f0; }
  .nav a {
    color: #494949;
    font-size: 10px;
    display: block;
    padding-bottom: .03rem; }
    .nav a img {
      margin: 0 auto;
      width: .23rem;
      height: .2rem; }

section {
  width: 100%; }
  section .contion img {
    max-width: 5.12rem;
    width: 100%;
    margin: 30px 0 10px 0; }
  section .contion p {
    font-size: .14rem;
    color: #664b4b;
    text-align: center; }
  section .contion a {
    display: block;
    border: 1px solid #ff6a33;
    color: #ff6a33;
    font-size: .14rem;
    width: 1.14rem;
    height: .32rem;
    border-radius: 3px;
    text-align: center;
    line-height: .32rem;
    margin: .32rem auto .2rem; }

.bk {
  height: 0.08rem;
  width: 100%;
  background: #e9ecf0; }

.footer .footer-title {
  padding: 0.08rem .1rem 0 .16rem;
  font-size: .13rem;
  color: #111111; }

.footer .list {
  width: 100%;
  display: -webkit-flex;
  overflow-x: scroll; }
  .footer .list .item a {
    display: block;
    width: .64rem;
    margin-top: .12rem;
    margin-right: .2rem; }
    .footer .list .item a img {
      width: .64rem;
      height: .7rem; }
    .footer .list .item a p:nth-of-type(1) {
      font-size: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #232323;
      text-align: center; }
    .footer .list .item a p:nth-of-type(2) {
      font-size: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #232323;
      text-align: center; }
